Repository kxming/todolist-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

添加sass
  src/index.scss
  src/index.tsx
Due: stylelint --fix

添加第三方库
  .idea/watcherTasks.xml
  config-overrides.js
  package.json
  src/App.less
  src/App.tsx
  src/index.less
  src/index.tsx
  yarn.lock
Due: eslint --fix

feat(add layout): add layout component
  .huskyrc
  .lintstagedrc
  commit.config.js
  config-overrides.js
  package.json
  src/App.less
  src/App.tsx
  src/index.less
  src/pages/layout/layout.less
  src/pages/layout/layout.tsx
  src/variables/variables.less
Due: eslint --fix

feat(layout): layout
  .idea/watcherTasks.xml
  package.json
  src/App.less
  src/index.less
  src/pages/layout/header/header.less
  src/pages/layout/header/header.tsx
  src/pages/layout/layout.less
  src/pages/layout/layout.tsx
  src/pages/layout/menu/menu.tsx
  src/pages/layout/user/user.tsx
  src/variables/menu.less
  src/variables/variables.less
  yarn.lock
Due: none

feat(layout): layout
  .prettierignore
  .prettierrc
  package.json
  src/App.less
  src/App.tsx
  src/index.less
  src/index.tsx
  src/pages/layout/header/header.less
  src/pages/layout/header/header.tsx
  src/pages/layout/layout.less
  src/pages/layout/layout.tsx
  src/pages/layout/menu/menu.tsx
  src/pages/layout/user/user.tsx
Due: none

feat(add login): add login
  package-lock.json
  src/pages/charts/charts.tsx
  src/pages/dashboard/dashborad.tsx
  src/pages/icon/icon.tsx
  src/pages/login/login.tsx
  src/pages/map/map.tsx
  src/pages/notFound/notFound.tsx
Due: none

feat(login): login
  package-lock.json
  package.json
  src/App.tsx
  src/pages/charts/charts.tsx
  src/pages/dashboard/dashborad.tsx
  src/pages/icon/icon.tsx
  src/pages/layout/layout.tsx
  src/pages/layout/menu/menu.tsx
  src/pages/login/login.tsx
  src/pages/map/map.tsx
  tslint.json
  yarn.lock
Due: none

feat(login page): change login page
  .stylelintrc
  src/assets/thumd.jpg
  src/pages/login/login.less
  src/pages/login/loginForm.tsx
  src/pages/login/registryForm.tsx
Due: none

feat(login page): change login page
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  package.json
  public/index.html
  src/App.tsx
  src/pages/login/login.less
  src/pages/login/login.tsx
  src/pages/login/loginForm.tsx
  src/pages/login/registryForm.tsx
  tslint.json
  yarn.lock
Due: stylelint --fix

feat: islogin
  src/App.tsx
  src/pages/login/login.less
  src/pages/login/login.tsx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,vue}
  stylelint --fix: any of: *.{html,vue,css,sass,scss}
